@media (max-width: 1024px) {
    .container .login {
        display: none;
    }
}
.container-fluid{
    background-color: #167114
}
.navbar-brand {
    color: #FFFFFF
}
.btn {
    color: #FFFFFF
}

.imglogo{

}

.ecoguardians {
    font-size: 3rem;
    margin-left: 30px;
}
.login {
    display: block;
    margin-left: auto;
    margin-right: -60%;
    font-size: 2rem;
}
.menu {
    display: block;
    margin-left: auto;
    margin-right: 30px;
    width: 4rem;
    height: 4rem;

}
.black {
    display: inline-block;
    text-align: center;
    background-color: black;
    width: 100%;
    margin: auto 0;
}
.p1 {
    color: white;
    font-size: 4rem;
}
.ong{
    display: inline;
    margin: 30px 50px;
    width: 250px;
    height: 250px;
}
.amarelo {
    background-color: yellow
}